In [6]:
import pandas as pd
VEGETABLES = [ 'carrot', 'tomato', 'bottle_gourd', 'potato', 'cabbage', 'cauliflower']
for VEGETABLE in VEGETABLES:
        df1 = pd.read_csv("./../data/"+VEGETABLE+"_processed.csv")
        df2 = pd.read_csv("./../data/"+VEGETABLE+"_NO_OUTLIERS.csv")
        df2 = df2.drop(['Unnamed: 0'], axis=1)
        df1 = df1[:3896]
        df2 = df2[:3896]
        df1.to_csv("./../data/"+VEGETABLE+"_processed.csv")
        df2.to_csv("./../data/"+VEGETABLE+"_NO_OUTLIERS.csv")

In [8]:
VEGETABLES = [ 'carrot', 'tomato', 'bottle_gourd', 'potato', 'cabbage', 'cauliflower']
for VEGETABLE in VEGETABLES:
        df1 = pd.read_csv("./../data/"+VEGETABLE+"_processed.csv")
        df2 = pd.read_csv("./../data/"+VEGETABLE+"_NO_OUTLIERS.csv")
        print(len(df1), len(df2))
        print(df2.head())

3896 3896
   Unnamed: 0        DATE  MODAL
0           0  2010-01-01  750.0
1           1  2010-01-02  750.0
2           2  2010-01-03  900.0
3           3  2010-01-04  800.0
4           4  2010-01-05  850.0
3896 3896
   Unnamed: 0        DATE  MODAL
0           0  2010-01-01  650.0
1           1  2010-01-02  650.0
2           2  2010-01-03  825.0
3           3  2010-01-04  850.0
4           4  2010-01-05  700.0
3896 3896
   Unnamed: 0        DATE   MODAL
0           0  2010-01-01  1000.0
1           1  2010-01-02  1000.0
2           2  2010-01-03   987.5
3           3  2010-01-04  1037.5
4           4  2010-01-05  1025.0
3896 3896
   Unnamed: 0        DATE  MODAL
0           0  2010-01-01  912.0
1           1  2010-01-02  912.0
2           2  2010-01-03  893.5
3           3  2010-01-04  750.0
4           4  2010-01-05  825.0
3896 3896
   Unnamed: 0        DATE  MODAL
0           0  2010-01-01  400.0
1           1  2010-01-02  400.0
2           2  2010-01-03  475.0
3           3  2010-01-04  500.0
4           4  2010-01-05  475.0
3896 3896
   Unnamed: 0        DATE     MODAL
0           0  2010-01-01  1625.000
1           1  2010-01-02  1625.000
2           2  2010-01-03  1462.500
3           3  2010-01-04  1500.000
4           4  2010-01-05  1503.125

In [5]:
df2.head()

         DATE     MODAL
0  2010-01-01  1625.000
1  2010-01-02  1625.000
2  2010-01-03  1462.500
3  2010-01-04  1500.000
4  2010-01-05  1503.125